.todolist-container {

}
.todolist-list {
    padding: 10px;
}

.todo-item__task {
    background-color: #d2bebe;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.todo-item__checkbox {

}

.todo-item__task--done {
    text-decoration: line-through;
}

.todo-item__task--active {

}

