.todolist-container {

}
.todolist-list {
    padding: 0;
}

.todo-item__task {
    position: relative;
    background-color: #d2bebe;
    list-style-type: none;
    margin: 10px;
    padding: 10px 30px 10px 10px;
    border-radius: 10px;
    font-size: 17px;
}

.todo-item__checkbox {
    margin: 0 10px 0 10px;
}

.todo-item__task--done {
    text-decoration: line-through;
}

.todo-item__task--active {
    white-space: nowrap
}
