.to-do-input {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 12px;
}

.to-do-input__value {
    background: #d2aaf6;
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 20px;
    width: 100%;
}

.to-do-input__value:focus {
    outline: none;
}

.to-do-input__button {
    background: #16bdae;
    border: 0;
    border-radius: 7px;
    color: white;
    padding: 15px;
    position: absolute;
    right: 17px;
    top: 17px;
}
